Require all denied

<Files "registrar-clave.php">
    Require all granted
</Files>

<Files "verificar-clave.php">
    Require all granted
</Files>

<Files "cerrar-sesion.php">
    Require all granted
</Files>

<Files "guardar-alumno.php">
    Require all granted
</Files>

<Files "eliminar-alumno.php">
    Require all granted
</Files>

<Files "regenerar-credencial.php">
    Require all granted
</Files>

<Files "exportar-alumnos.php">
    Require all granted
</Files>

<Files "exportar-inscripciones.php">
    Require all granted
</Files>

<Files "exportar-tallas-camisa.php">
    Require all granted
</Files>

<Files "guardar-evento.php">
    Require all granted
</Files>

<Files "eliminar-evento.php">
    Require all granted
</Files>

<Files "guardar-competicion.php">
    Require all granted
</Files>

<Files "eliminar-competicion.php">
    Require all granted
</Files>

<Files "guardar-trabajador.php">
    Require all granted
</Files>

<Files "eliminar-trabajador.php">
    Require all granted
</Files>

<Files "exportar-trabajadores.php">
    Require all granted
</Files>

<Files "resetear-alumnos.php">
    Require all granted
</Files>
