Require all denied

<Files "guardar-registro.php">
    Require all granted
</Files>

<Files "recuperar-credencial.php">
    Require all granted
</Files>

<Files "iniciar-regeneracion.php">
    Require all granted
</Files>

<Files "regenerar-credencial.php">
    Require all granted
</Files>
